.ContactsContainer {
	padding: 80px;
	background-color: $secondaryColor;
	color: #000;
	text-align: center;
}
.titleHeader {
	font-size: 34px;
	color: $mainColor;
	text-transform: uppercase;
}

.headerSubtitle {
	font-size: 20px;
	color: $mainColor;
	margin: 20px 0;
}

.contacts-details-container {
	background-color: $mainColor;
	padding: 3rem;
	border-radius: 1rem;

	.contact-details {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		.contact-detail {
			display: flex;
			align-items: center;
			gap: 1rem;

			a {
				color: $secondaryColor;
				text-decoration: none;
			}
		}

		.contact-icon {
			font-size: 2rem;
			color: $secondaryColor;
		}
	}
}

@media all and (max-width: 720px) {
	.contact-details {
		flex-direction: column;
	}
}
