.checkAppContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.checkHead{
		width: 100%;
		padding: 2rem 1rem 1rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 50% 50% 0 0;
		box-shadow: inset 0 6px 8px rgb(226, 218, 218);

		@media(max-width: 600px){
			border-radius: 48% 48% 0 0;
			padding: 2.5rem 1rem 0 1rem;
		}
		@media(max-width: 380px){
			padding: 3rem 1rem 0 1rem;
		}

		.checkAppTitle{
			text-align: center;
			font-size: 1.8rem;
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			color: $mainColor;	

			@media(max-width: 1040px){
				font-size: 1.75rem;
			}
			@media(max-width: 780px){
				font-size: 1.65rem;
			}
			@media(max-width: 600px){
				font-size: 1.45rem;
				padding: 1rem 0 0 0;
			}
			@media(max-width: 330px){
				padding: 0;
			}

			span{
				color:rgb(11, 171, 102);
				//color: white;
			}
		}

		.UI-desc{
			font-size: .9rem;
			opacity: .85;
			text-align: center;
			max-width: 650px;
			margin: .5rem 0 3rem 0;
			font-family: 'Open Sans', sans-serif;
			line-height: 1.25rem;
			letter-spacing: .5px;
			word-spacing: .15rem;		
			font-weight: 500;

			@media(max-width: 1040px){
				font-size: .85rem;
			}
			@media(max-width: 780px){
				font-size: 14px;
			}
			@media(max-width: 600px){
				font-size: 12px;
			}
		}
	}

	.everyoneBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem 2.5rem 1rem;
		width: 100%;
		box-shadow: inset 0 6px 8px rgb(226, 218, 218);
	
		.everyoneTitle {
			text-align: center;
			font-size: 1.8rem;
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			color: $mainColor;

			@media(max-width: 1040px){
				font-size: 1.75rem;
			}
			@media(max-width: 780px){
				font-size: 1.65rem;
			}
			@media(max-width: 600px){
				font-size: 1.45rem;
			}
	
			span {
				color: rgb(11, 171, 102);
			}
		}
	
		.imageGallery {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: 1.5rem;
			overflow-x: auto;
			padding: 1rem;
			width: 100%;
			margin-top: 1.5rem;
	
			.image-item {
				height: 200px;
				width: 200px;
				border-radius: 12px;
				flex-shrink: 0;
				transition: .3s ease;
				box-shadow: 2px 4px 6px 2px rgb(162, 162, 163);
				overflow: hidden;

				@media(max-width: 1040px){
					height: 180px;
					width: 180px;
				}

				img{
					width: 100%;
				}

				&:hover{
					transform: translateY(-12px);
				}
			}

			&::-webkit-scrollbar {
				width: 2px;
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: rgba(172, 212, 195, 0.3);
				border-radius: 10px;
				width: 2px;
			}
		}
	}
	
	.secTitle{
		@media(max-width: 1040px){
			font-size: 1.75rem;
		}
		@media(max-width: 780px){
			font-size: 1.35rem;
		}
		@media(max-width: 600px){
			font-size: 1.15rem;
		}
	}

	.appFeature{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 2.5rem 1rem;

		@media(max-width: 600px){
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		& > div{
			width: 30%;

			@media(max-width: 1040px){
				width: 45%;
			}
			@media(max-width: 600px){
				width: 100%;
			}
		}

		.featureShot{
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				max-height: 550px;
				border: 2.5px solid rgb(11, 171, 102);
				border-radius: 12px;
				transition: .3s ease;

				@media(max-width: 780px){
					max-height: 400px;
				}
				@media(max-width: 600px){
					max-height: 300px;
				}

				&:hover{
					scale: 1.05;
					cursor: pointer;
				}
			}
		}

		.f_description{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;

			@media(max-width: 600px){
				align-items: center;
				margin-top: 1.5rem;
			}

			.f_desc_title{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				margin-left: -4px;

				& > span:nth-child(1){
					img{
						width: 42px;

						@media(max-width: 780px){
							width: 36px
						}
						@media(max-width: 600px){
							width: 32px
						}
					}
				}
				& > span:nth-child(2){
					font-size: 1.8rem; 
					font-weight: 700;
					margin-left: 1rem;
					color: rgb(8, 77, 43);

					@media(max-width: 780px){
						font-size: 1.65rem;
					}

					@media(max-width: 600px){
						font-size: 1.45rem;
					}
				}
			}

			.f_desc_par{
				font-size: 16px;
				margin-top: 1.25rem;
				opacity: .85;
				line-height: 1.55rem;
				letter-spacing: .5px;
				word-spacing: .15rem;
				font-weight: 500;

				@media(max-width: 780px){
					font-size: 1rem;
				}
				@media(max-width: 600px){
					font-size: 14px;
					text-align: center;
					margin-top: .5rem;
					line-height: 1.35rem;
				}
				@media(max-width: 380px){
					font-size: 12px;
					line-height: 1.25rem;
				}
			}
		}
	}

	.appFeature:nth-child(3){
		background-image: linear-gradient(to bottom, #ffffff, #fdfdff, #f9fbff, #f5f9ff, #f0f8ff);
	}

	.appFeature:nth-child(odd){
		background-color: #f0f8ff;
	}
	.appFeature:nth-child(even){
		flex-direction: row-reverse;

		@media(max-width: 600px){
			flex-direction: column;
		}
	}
}