.teamArticle{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 480px;

	@media(max-width: 1040px){
    height: 540px;
	}

	@media(max-width: 780px){
		//min-height: 100vh;
		//height: 880px;
	}
	@media(max-width: 600px){
	//	height: 860px;
	}
}
.teamBg{
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	img{
		width: 100%;
		opacity: .35;

		@media(max-width: 780px){
			height: 100%;
			width: auto;
		}
	}
}


.teamContainer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	//background-color: hsl(168, 56%, 98%, .75);
	background-color: $darkSpringGreen;
	//background-image: linear-gradient(to top, #29c276, #58cc8a, #79d69f, #97dfb3, #b3e8c7, #bceeda, #c9f3e9, #daf8f5, #e3f9fe, #effaff, #f9fcff, #ffffff);
	padding: 3rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media(max-width: 1040px){
		padding: 2rem 1rem;
	}

	@media(max-width: 600px){
		padding: 2rem .65rem;
	}
}

.teamHeading {
	font-size: 1.8rem;
	font-weight: 600;
	font-family: 'Kanit', sans-serif;
	color: $mainColor;
	
	@media(max-width: 780px){
		font-size: 1.7rem;
	}
	@media(max-width: 600px){
		font-size: 1.5rem;
	}

	&:after {
		content: "";
		display: block;
		width: 30%;
		height: 2.5px;
		background-color: $mainColor;
		opacity: .8;
		margin: .5rem auto;

		@media(max-width: 600px){
			width: 25%;
		}
		@media(max-width: 330px){
			width: 30%;
		}
	}
}

.teamDesc {
	text-align: center;
	margin-top: 1rem;
	font-size: 18px;
	color: $mainColor;
	//color: $lightBg;
	//opacity: .75;
	max-width: 700px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	@media(max-width: 1040px){
		font-size: 16px;
	}
	@media(max-width: 780px){
		font-size: 14px;
	}
	@media(max-width: 380px){
		font-size: 12px;
	}
}

.teamList {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	gap: 1.4rem;

	@media(max-width: 780px){
		gap: 1rem;
		width: 100%;
	}
	@media(max-width: 600px){
		margin-top: 2rem;
		overflow-x: auto;
		justify-content: flex-start;
	}

	.personCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		//background-color: rgb(240, 245, 245);
		//box-shadow: 0 0 6px 3px rgb(196, 189, 178);
		background-color: lighten($mainColor, 5%);
		//box-shadow: 0 0 6px 3px lighten($secondaryColor, 12.5%);
		padding: 1.5rem 3rem;
		border-radius: 10px;
		transition: .15s ease;

		@media(max-width: 780px){
			padding: 1.5rem 2.5rem;
		}
		@media(max-width: 780px){
			padding: 1.5rem 1rem;
			min-width: 180px;
		}

		.personImg {
			width: 120px;

			@media(max-width: 780px){
				width: 100px;
			}
			@media(max-width: 380px){
				width: 90px;
			}

			img {
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
				border: 2.5px solid darken($lightBg, 25%);
			}
		}
	
		.personContent {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		
			.person-name {
				font-size: 1.5rem;
				font-weight: 700;
				text-align: center;
				//color: $mainColor;
				color: darken($lightBg, 10%);

				@media(max-width: 780px){
					font-size: 1.25rem;
				}
				@media(max-width: 600px){
					font-size: 1.05rem;
				}
			}
		
			.person-role {
				font-size: 1.15rem;
				font-weight: 500;
				text-align: center;
				//color: $mainColor;
				color: $lightBg;
				opacity: .7;
				margin-top: 4px;

				@media(max-width: 780px){
					font-size: 1rem;
				}
				@media(max-width: 600px){
					font-size: .85rem;
				}
			}
	
			.socials {
				margin-top: 1.4rem;
				display: flex;
				gap: 20px;
				justify-content: center;
				font-size: 22px;
				//color: $mainColor;
				color: $secondaryColor;

				 * {
					transition: .1s ease;
				 }
			
				.social-item:hover {
					cursor: pointer;
					color: lighten($secondaryColor, 20%);
				}
			}
		}
	}
}
