.intro{
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homeContainer {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem 3rem 1rem;
  width: 100%;

  @media(max-width: 1040px){
    padding: 6rem 1rem 2rem 1rem;
  }

  .logoHero{
    width: 100px;

    @media(max-width: 780px){
      width: 90px;
    }
    @media(max-width: 600px){
      width: 80px;
    }
  }

  .title{
    background-image: linear-gradient(to right top, #0fe7a5, #62ecba, #8fefcd, #b6f2de, #dbf4ec);
    // background-image: linear-gradient(to right top, #c1f9db, #c3fcf9, #dafbff, #f3fbff, #ffffff);
    //background-image: linear-gradient(to right top, #abf6ce, #acfaf7, #ccfaff, #eefaff, #ffffff);
    // background-image: linear-gradient(to right top, #46f697, #00fef1, #82fcff, #dcf9ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 900px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;

    // @media(max-width: 1445px){
    //   font-size: 3.5rem;
    //   max-width: 700px;
    // }

    @media(max-width: 1040px){
      font-size: 2.8rem;
    }

    @media(max-width: 780px){
      font-size: 2.25rem;
    }
    @media(max-width: 600px){
      font-size: 2rem;
    }
    @media(max-width: 380px){
      font-size: 1.8rem;
    }
    @media(max-width: 330px){
      font-size: 1.5rem;
    }
  }

  .subTitle{
    color: rgb(213, 243, 213);
    opacity: .85;
    font-size: 1.45rem;
    text-align: center;
    max-width: 700px;
    font-weight: 700;
    margin-top: .35rem;

    @media(max-width: 1040px){
      font-size: 1.35rem;
    }

    @media(max-width: 780px){
      font-size: 1.25rem;
    }
    @media(max-width: 600px){
      font-size: 1rem;
    }
  }

  .desc{
    color: $whiteText;
    opacity: .75;
    font-size: 1.05rem;
    text-align: center;
    max-width: 700px;
    margin-top: 1.25rem;

    @media(max-width: 1040px){
      margin-top: .25rem;
    }

    @media(max-width: 780px){
      font-size: 16px;
    }

    @media(max-width: 600px){
      font-size: 12px;
    }
  }

  .appLinks{
    margin-top: 3rem;

    @media(max-width: 1040px){
      margin-top: 1.8rem;
    }

    .tryApps{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    
      a{
        text-decoration: none;
        border: none;
        border-radius: 10px;
        padding: .6rem 1.5rem;
        margin: 0 .8rem;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.3s ease, color 0.3s ease;
    
        @media(max-width: 600px){
          font-size: 12px;
          margin: 0 .35rem;
        }
        @media(max-width: 330px){
          padding: .6rem .75rem;
          margin: 0 .25rem;
        }
      }
    
      a:nth-child(1){
        background-color: $secondaryColor;
        color: $mainColor;

        &:hover {
          background-color: lighten($secondaryColor, 20%);
          color: darken($mainColor, 10%);
        }
      }
      a:nth-child(2){
        border: 1.6px solid $secondaryColor;
        color: $logoGreen;
    
        &:hover {
          background-color: lighten($mainColor, 10%);
          color: $logoGreen;
        }
      }
    }
    
    .officialApps{
      display: flex;
      align-items: center;
      justify-content: center;

      .appDownload{
        margin: 0 .5rem;
        padding: 0;

        img{
          height: 48px;
          opacity: .8;

          &:hover{
            opacity: 1;
          }

          @media(max-width: 600px){
            height: 36px;
          }
        }
        
      }
      .appDownload:nth-child(2){
        margin-top: -3px;
      }
    }
  }
}