.FeaturesContainer{
    padding: 100px;
    background-color: #fff;
    color: #000;
    text-align: center;
}
.featureRow{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
}
.card{
    border: 1px solid black;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
