.FeaturesContainer {
	padding: 80px;
	background-color: $secondaryColor;
	color: #000;
	text-align: center;
}
.titleHeader {
	font-size: 34px;
	&:after {
		content: "";
		display: block;
		width: 15%;
		height: 2px;
		background-color: $mainColor;
		margin: 1rem auto;
	}
}
.featureRow {
	// border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 120px;
	padding: 60px 0;
}
.feature-card {
	// border: 1px solid black;
	padding: 50px 40px;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background: $mainColor;
	color: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);

	.subFeatures {
		text-align: left;
		width: 90%;
		margin: 0 auto;
	}
}
.card:hover {
}
.icon {
	width: 60px;
	height: 60px;
	object-fit: cover;
}
.title {
	text-shadow: none;
	padding: 20px 0;
	font-size: 20px;
}
