@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.PContainer {
	height: 30vh;
	margin: 5rem;
	color: $mainColor;
}

.partners-header {
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;
	margin-bottom: 3rem;

	&:after {
		content: "";
		display: block;
		width: 10%;
		height: 2px;
		background-color: $secondaryColor;
		margin: 1rem auto;
	}
}

.partners-cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0 100px;
	width: 80%;

	.partner-card {
		cursor: grabbing;
	}

	.partner-card img {
		width: 80%;
	}
}
