.faqsContainer {
	margin: 5rem;
}

.container1 {
	display: flex;
	align-items: center;
	gap: 3;
	justify-content: center;
}

// .container2 {
// 	width: 80px;
// 	border-bottom: 2px solid $secondaryColor;
// }

.container3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;

	&:after {
		content: "";
		display: block;
		width: 15%;
		height: 2px;
		background-color: $secondaryColor;
		margin: 1rem auto;
	}
}

.header {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.container4 {
	margin: 0 auto;
}

@media all and (min-width: 1024px) {
	.container4 {
		width: 70%;
	}
}
