.whyContainer {
	background-color: $darkSpringGreen;
	padding: 3rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media(max-width: 1040px){
		padding: 2rem 1rem;
	}

	@media(max-width: 600px){
		padding: 2rem .65rem;
	}
}

.whyUsHeading {
	font-size: 1.8rem;
	font-weight: 600;
	font-family: 'Kanit', sans-serif;
	color: $mainColor;
	
	@media(max-width: 780px){
		font-size: 1.7rem;
	}
	@media(max-width: 600px){
		font-size: 1.5rem;
	}

	&:after {
		content: "";
		display: block;
		width: 25%;
		height: 2.5px;
		background-color: $mainColor;
		opacity: .8;
		margin: .5rem auto;

		@media(max-width: 600px){
			width: 25%;
		}
		@media(max-width: 330px){
			width: 30%;
		}
	}
}

.reasons-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.25rem;
	margin-top: 3rem;
	max-width: 1440px;

	@media(max-width: 1040px){
		gap: 1rem;
	}

	@media(max-width: 780px){
		margin-top: 2rem;
		grid-template-columns: 1fr 1fr;
	}

	@media(max-width: 600px){
		gap: .7rem;
		grid-template-columns: 1fr;
	}

	.reason {
		padding: 1.5rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: $mainColor;
		border-radius: 10px;
	
		.reasonTitle{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
	
			.whyIcon {
				width: 32px;

				@media(max-width: 780px){
					width: 28px;
				}
				@media(max-width: 600px){
					width: 24px;
				}
			}

			.whyText {
				font-weight: 600;
				font-size: 1.35rem;
				color: $aquaMarine;
				text-align: left;

				@media(max-width: 1040px){
					font-size: 1.25rem;
				}
				@media(max-width: 780px){
					font-size: 1.15rem;
				}
				@media(max-width: 600px){
					font-size: 1.05rem;
				}
			}
		}
	
		.reasonDesc{
			font-size: 16px;
			color: $lightBg;
			opacity: .7;
			margin-top: 1rem;
	
			@media (max-width: 1040px){
				font-size: 14px;
			}
			@media (max-width: 600px){
				font-size: 12px;
				margin-top: .75rem;
			}
		}
	
		@media(max-width: 780px){
			padding: 1.5rem .8rem;
			width: 100%;
		}

		@media(max-width: 600px){
			padding: 1rem .65rem;
			width: 100%;
		}
	}
}