header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem .65rem 5rem;
  width: 100%;
  z-index: 100;
  position: fixed;
  margin: auto;
  background-color: rgb(250, 253, 252);
  // max-width: 1600px;

  @media(max-width: 1040px){
    padding: 1rem 1rem .65rem 1rem;
  }

  @media(max-width: 780px){
    flex-direction: column;
    justify-content: flex-start;
  }


  .headLogo{
    @media(max-width: 780px){
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      .logoName {
        margin-left: .8rem;
        color: darken($secondaryColor, 25%);
        font-size: 1.45rem;
  
        @media(max-width: 780px){
          font-size: 1.35rem;
          margin-left: .55rem;
        }
        @media(max-width: 600px){
          font-size: 1.15rem;
        }
      }
      .logoImage{
        width: 30px;

        @media(max-width: 780px){
          width: 26px;
        }
        @media(max-width: 600px){
          width: 24px;
        }
      
        img{
          width: 100%;
        }
      }
    }
  
    .menu{
      .navBtn {
        display: none;

        @media(max-width: 780px){
          display: block;
          background-color: transparent;
          cursor: pointer;
          border: none;
          outline: none;
          color: rgb(33, 152, 33);
          font-size: 20px;
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 780px){
      display: none;
    }

    .bookmarks{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media(max-width: 780px){
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      a {
        padding: 10px 15px;
        margin: 0 10px 0 0;
        transition: all 0.3s 0.2s;
        border-radius: 5px;
        color: lighten($mainColor, 15%);
        text-decoration: none;
        transition: 0.25s ease;
        font-weight: 600;
        font-size: 14px;
  
        @media(max-width: 1040px){
          margin: 0 .75rem 0 0;
        }
  
        &:hover {
          cursor: pointer;
          color: $secondaryColor;
        }
        &:focus {
          color: $secondaryColor;
        }
      }
    }

    .headerSocials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-left: 3rem;
    
      a {
        text-decoration: none;
      }

      a:nth-child(2), a:nth-child(3){
        margin-left: -1rem;

        @media(max-width: 780px){
          margin-left: 0;
        }
      }
    
      .f_link {
        font-size: 18px;
        color: rgb(40, 22, 128);
        cursor: pointer;
        transition: .2s ease;
    
        &:hover {
          color: lighten($mainColor, 45%);
        }
      }

      @media (max-width: 1040px) {
        margin-left: 2rem;
      }

      @media (max-width: 780px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  .activeNav{
    display: flex;
    width: 100%;
    padding-top: 1rem;

    @media(max-width: 780px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.activeHeader{
  @media(max-width: 780px){
    background-color: rgb(243, 245, 245);
  }
}