header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 2rem 7rem;
    background-color: $mainColor;
    color: $whiteText;
    /* box-shadow: inset -9px -9px 18px #041a2c,
        inset 9px 9px 18px #0c4270; */
}

header h2 {
    font-size: 38px;
}

nav {
    display: flex;
}

nav a {
    padding: 10px 15px;
    margin: 0 10px;
    transition: all 0.3s 0.2s;
    border-radius: 5px;
}

nav a {
    color: $whiteText;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: $secondaryColor;
    transform: scale(1.05);
}

nav a:focus {
    color: $secondaryColor;
}

.downloadButtonSmall {
    display: none;
}

header .navBtn {
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: $whiteText;
    display: none;
}

.myDownloadButton {
    // border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;
}

.downloadButton {
    // margin-left: 600px;
    border: 1px solid $secondaryColor;
    background-color: rgba(24, 210, 110, 0.21);
    padding: 0 40px;
    border-radius: 20px;
    color: $whiteText;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.downloadIcon {
    font-size: 20px;
}

@media all and (max-width: 1024px) {
    header {
        padding: 0 2rem;
    }

    header .navBtn {
        display: block;
        opacity: 1;
    }

    .downloadButtonSmall {
        display: block;
        border: 1px solid $secondaryColor;
        background-color: rgba(24, 210, 110, 0.21);
        padding: 0 40px;
        border-radius: 20px;
        color: $whiteText;
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    header nav,
    .myDownloadButton {
        position: fixed;
        padding: 40px 0;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: $mainColor;
        box-shadow: inset -11px 11px 7px #03121f66,
            inset 11px -11px 7px #0d4a7d;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 100;
    }

    header .responsiveNav {
        transform: none;
    }

    nav .navCloseBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 25px;
    }

    // .myDownloadButton{
    //     width: 100%;
    //     display: flex;
    // }
    .downloadButton {
        margin: 0;
        padding: 7px 40px;
    }
}