.footerContainer {
	bottom: 0;
	padding: 50px 100px;
	background-color: $mainColor;
	height: auto;
	color: $whiteText;
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
}

.footerContainer h2 {
	font-size: 32px;
}

.footerDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7rem;
	color: $secondaryColor;
	font-size: 1.2rem;

	.topInfo {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			text-align: center;
			color: $secondaryColor;
			text-decoration: none;
		}
	}

	.pipe {
		border-right: 1px solid #cccccc;
		margin: 0 20px;
		height: 1.5rem;
	}
}

.FooterSocials {
	display: flex;
	flex-direction: row;
	gap: 30px;
	font-size: 30px;
	color: $secondaryColor;
	cursor: pointer;
}

.copyright {
	display: none;
}

@media all and (max-width: 720px) {
	.footerContainer {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
	}

	.footerDetails {
		gap: 2.5rem;
		.topInfo {
			flex-direction: column;
			gap: 1rem;
			.pipe {
				display: none;
			}
		}
	}

	.FooterSocials {
		flex-direction: row;
	}

	.copyright {
		display: block;
		padding-top: 30px;
	}
}
